                  {% extends 'admin/admin_base.html' %}
{% load static %}
{% block content %}
    {% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}


        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    {% for dri in view_singe_appartment %}
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="about-img position-relative overflow-hidden p-5 pe-0">
                            <img class="img-fluid w-100" src="{{ dri.image.url }}">
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <h1 class="mb-4">{{ dri.name }}</h1>

                        <p><i class="fa fa-check text-primary me-3"></i>Contact Details: {{ dri.contact_details }}</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Location: {{ dri.location }}</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Appartment Type:{{ dri.appartment_type }}</p>
                        <p><i class="fa fa-check text-primary me-3"></i>User Type:{{ dri.type }}</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Rent:{{ dri.rent }}</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Rooms:{{ dri.rooms }}</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Bath Rooms:{{ dri.bath_rooms }}</p>
                        <a class="btn btn-primary py-3 px-5 mt-3" href="view_images?id={{ dri.id}}">View Images</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

{% endblock %}