 {% extends 'admin/admin_base.html' %}
{% load static %}
{% block content %}
    {% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}

    <!-- bradcam_area_start  -->
    <div class="bradcam_area breadcam_bg overlay d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
{#                        <h3>View Owner...</h3>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area_end  -->

    <!-- ================ contact section start ================= -->
    <section class="contact-section">
            <div class="container">
                <div class="d-none d-sm-block mb-5 pb-4">



                <div class="row">
                    <div class="col-12">
                        <h2 class="contact-title" style="margin-top: 50px;">View Owner</h2>
                    </div>
                    <div class="col-lg-8">
                         <table class="table table-bordered table-striped table-hover" style="width: 900px;">

<th class="info" style="background-color: lightgreen;">Name</th>
<th class="info" style="background-color: lightgreen;">Address</th>
<th class="info" style="background-color: lightgreen;">Phone</th>
<th class="info" style="background-color: lightgreen;">Email</th>
<th class="info" style="background-color: lightgreen;">Location</th>
<th class="info" style="background-color: lightgreen;">Type</th>
<th class="info" style="background-color: lightgreen;">Image</th>
<th class="info" style="background-color: lightgreen;">Accept</th>
<th class="info" style="background-color: lightgreen;">Reject</th>
{% for dri in view_owner  %}

<tr>
    <td>{{ dri.user.first_name}}</td>
    <td>{{ dri.address}}</td>
    <td>{{ dri.phone}}</td>
     <td>{{ dri.user.email}}</td>
    <td>{{ dri.location}}</td>
    <td>{{ dri.type}}</td>
      <td><img src="{{ dri.image.url }}" style="width: 115px; height: 115px;"></td>

    <td><a href="approve?id={{ dri.user_id}}" class=" btn btn-success">Accept</a></td>
    <td><a href="remove?id={{ dri.user_id}}" class=" btn btn-danger">Remove</a></td>


</tr>

    {% endfor %}
</table>


                    </div>

                </div>
            </div>
        </section>

{% endblock %}
    <!-- ================ contact section end ================= -->


    <!-- footer_start  -->
