            {% extends 'base.html' %}
{% load static %}
{% block content %}
    {% if messages %}
<script>
alert("{{ message }}")
</script>
{% endif %}

      <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single" style="margin-top: 50px;">OWNER REGISTRATION</h1>
{#            <span class="color-text-a">Aut voluptas consequatur unde sed omnis ex placeat quis eos. Aut natus officia corrupti qui autem fugit consectetur quo. Et ipsum eveniet laboriosam voluptas beatae possimus qui ducimus. Et voluptatem deleniti. Voluptatum voluptatibus amet. Et esse sed omnis inventore hic culpa.</span>#}
          </div>
        </div>

      </div>
    </div>3
  </section>

      <section class="contact">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-map box">

          </div>
        </div>
        <div class="col-sm-12 section-t8">
          <div class="row">
            <div class="col-md-7">
              <div style=" border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;">
   <form method="post" action=""  enctype="multipart/form-data"  >
       {% csrf_token %}
    <label for="fname">Name</label>
    <input type="text" id="fname" style="width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;" name="name" placeholder="Your name.."  required >

    <label for="lname">Phone Number</label>
    <input type="text" id="lname" name="phone" style="width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;" placeholder="Your phone no.." required>
        <label for="lname">Email</label>
    <input type="email" id="lname" name="email" style="width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;" placeholder="Your email.."required>
   <label for="lname">Address</label>
    <input type="text" id="lname" name="address" style="width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;" placeholder="Your address.."required>
  <label for="lname">Location</label>
    <input type="text" id="lname" name="location" style="width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;" placeholder="Your location.."required>

      <label for="lname">Appartment Type</label><br>
        <select name="type" id="iname" type="text"  >
  <option value="Flat">Flat</option>
  <option value="House">House</option>
  <option value="Paying Guest">Paying Guest</option>
   <option value="Rooms">Rooms</option>
   <option value="Hotel">Hotel</option>

{#  <option value="audi">Audi</option>#}
</select><br><br>

  <label for="lname">Image</label>
    <input type="file" id="lname" name="image" style="width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;" placeholder="Your  appartment image.." required>

  <label for="lname">Username</label>
    <input type="text" id="lname" name="username" style="width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;" placeholder="Your username.." required>

  <label for="lname">Password</label>
    <input type="password" pattern=".{8,}" title="Eight or more characters" name="password" style="width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;" placeholder="Your password.." required id="pw" onclick="pass()">
                                   <span id="msg3" style="color: red"></span>
{#  <label for="lname">Conform Password</label>#}
{#    <input type="password" name="con_password" style="width: 100%;#}
{#  padding: 12px 20px;#}
{#  margin: 8px 0;#}
{#  display: inline-block;#}
{#  border: 1px solid #ccc;#}
{#  border-radius: 4px;#}
{#  box-sizing: border-box;" placeholder="Conform password.." required id="pw1">#}
{#                                    <span id="msg4" style="color: red"></span>#}


    <input type="submit" style="width: 100%;background-color: #4CAF50;color: white;padding: 14px 20px;margin: 8px 0;border: none;border-radius: 4px;cursor: pointer;" value="Submit">
  </form>
</div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}